#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="https://mirrors.aliyun.com/centos/7.7.1908/os/x86_64"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

reboot
# Root password
rootpw --iscrypted $6$6Y0XZresm9KVadvo$Em.f1lmN/ehILd27wJc5hQs5wSMSiosnEixDwqezGRt15wT6OWrIpA7WSwWCU886QC96hCM2M66HWrrzAndyn/
# SELinux configuration
selinux --disabled
firewall --disabled
# System services
services --disabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai --isUtc
user --name=luck --password=$6$PdHzXCLoSwz8sqpk$uBbaPiLRc6NOYBtw6eRHeaMehWwDiZl5Gj.I2E8Ip0EIG/1iW8CQyEFUgomub4tEVjPEgipwj.o034Nqao4ax. --iscrypted --gecos="luck"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all
# Clear the Master Boot Record
zerombr
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=300
part pv.253 --fstype="lvmpv" --ondisk=sda --size=12296
volgroup centos --pesize=4096 pv.253
logvol /  --fstype="xfs" --size=10240 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos

%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
