#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="https://mirrors.aliyun.com/centos/7.7.1908/os/x86_64"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=ens32 --ipv6=auto --activate
network  --hostname=localhost.localdomain

reboot
# Root password
rootpw --iscrypted $6$KKmt8kG/koihPq.l$wncJzhoJnv8x7W9zyMy9C/dcHJd/Uzu5GVhVTFJc9WTpxmdPVvP2SoN97nl97xShNzysEHXDmMWYnQHvld8ws.
# System services
services --disabled="chronyd"
# SELinux configuration
selinux --disabled
firewall --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai --isUtc
user --groups=wheel --name=luck --password=$6$GVJZWt/WFQdUvDMK$eFXe4yhZlzt2z5LPiPSh8/pEEc1KGH0IYhGM5V5d7HpS6y92rd6r4kom4mdsya2i3Pt50hxiMXIqnd0ETbKLQ/ --iscrypted --gecos="luck"# System bootloader configuration
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all
# Clear the Master Boot Record
zerombr
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.303 --fstype="lvmpv" --ondisk=sda --size=19455
volgroup primary_vg --pesize=4096 pv.303
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=primary_vg
logvol swap  --fstype="swap" --size=2047 --name=swap --vgname=primary_vg

part pv.195 --fstype="lvmpv" --ondisk=sda --size=20179
part /boot --fstype="xfs" --ondisk=sda --size=300
volgroup centos --pesize=4096 pv.195
logvol /  --fstype="xfs" --size=18128 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos

%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end