#Vsersion=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="https://mirrors.aliyun.com/centos/7.7.1908/os/x86_64"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate

reboot
# Root password
rootpw --iscrypted $6$NRjpeetgnhWieVma$B8fKNZoItYjt5d/woGOoBbLsM9f31Qc9fui9E0PXyENk0imqim1bRKCyYWxZrlEvbdK8BAgf6EgSKzl88ZZu/1
# SELinux configuration
selinux --disabled
firewall --disabled
# System services
services --disabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai --isUtc
user --name=luck --password=$6$SMiC2L1g8VJ0vVIh$y9p9RyWCBzlR5yNDdMxOaMjZn2U8Tfhp3xxzUFaUfmqiD0YH.k/l7iM8qqSqt6dkyWS4eKIQzoKsHe0hn/Ev.. --iscrypted --gecos="luck"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=10240
# part swap --fstype="swap" --ondisk=sda --size=2048

%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

