#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="ftp://192.168.110.128/pub/centos7"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=ens32 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Install Reboot
reboot

# Root password
rootpw --iscrypted $6$GQkAEBhbqHvZC/bH$ABiJU/CxPjT77SgpGZkDRzUJiqMOV8SPbeKa6wxGtZ58G8ay8HgOILx2tbiqBOvZeVwUHdqKF8ACdnJ7foAlm.
# System services
services --disabled="chronyd"
# SELinux configuration
selinux --disabled
firewall --disabled
# System timezone
timezone Asia/Shanghai --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part pv.252 --fstype="lvmpv" --ondisk=sda --size=20179
part /boot --fstype="xfs" --ondisk=sda --size=300
volgroup centos --pesize=4096 pv.252
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=18127 --name=root --vgname=centos

%packages
@^minimal
@core
chrony
curl
wget
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
echo $(date "+%Y-%m-%d %H:%M:%S") "Start PXE Install" >> /root/post-pxe.log
wget -O /tmp/pxe.sh ftp://192.168.110.128/pub/sh/pxe.sh
echo $(date "+%Y-%m-%d %H:%M:%S") "Finish Download post install script" >> /root/post-pxe.log
chmod +x /tmp/pxe.sh
bash /tmp/pxe.sh
echo $(date "+%Y-%m-%d %H:%M:%S") "Finish PXE Install" >> /root/post-pxe.log
%end
